* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* scroll-padding-top: 70px; */
}

body {
    margin: 0;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: darkred;
    padding: 5px 0px 5px 15px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    top: 0pt;
    left: 0pt;
}

nav a {
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    color: red;
    font-size: 20px;

    transition: all 2s;
}

nav a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

nav a:hover {
    color: #fff;
    z-index: 1;
}

nav a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

nav p {
    color: red;
}

.left-link {
    flex: 1 1 200px;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

section {
    width: 100%;
    display: table;
    margin: 0;
    height: 100vh;
}

#home {
    /* padding-top: 70px; */
    background-image: url("../images/bg1.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home img {
    height: 50%;
    border: 8px solid black;
    border-radius: 50%;
}

#home h1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
}

#about-me {
    background-image: url("../images/bg2.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#about-me h1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
}

#about-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#projects {
    background-image: url("../images/bg3.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects header {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.first {
    width: 50%;
    flex: 1;
}

.lbox {
    border-radius: 15px;
    border: solid grey 10px;
    width: 90%;
    height: 500px;
    background-color: pink;
    margin-left: 50px;
    padding: 25px;
    position: relative;
}

.lbox p {
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 0;
    left: 20;
}

.lbox a {
    color: white;
    font-size: 20px;
    position: relative;
}

.second {
    width: 50%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.rbox1, .rbox2, .rbox3, .rbox4 {
    border-radius: 10px;
    border: solid wheat 5px;
    width: 45%;
    height: 225px;
    background-color: turquoise;
    margin: 25px 25px 10px 10px;
    padding: 25px;
}

/* @media  (min-width: 992px) {
    .lbox {
        flex: 1 1 160px;
    }
} */

footer {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: green;
    padding: 5px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    bottom: 0pt;
    left: 0pt;
}

footer a {
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    color: yellow;
    font-size: 20px;
}